@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {

    background-image: url('img/camiseta-game-space-invaders-P-vermelho-C.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.textointeiro {
    color: #e0e0e0;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    max-width: 1300px;
    margin: auto;
    background-color: rgba(8, 8, 8, 0.6);
    line-height: 1.6;
    
    

}

.todoconteudo {
     color: #e0e0e0;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    max-width: 1300px;
    margin: auto;
    background-color: rgba(8, 8, 8, 0.6);
    line-height: 1.6;
    
}

.avatar {
    width: 280px;
    border: 8px solid white;
    border-radius: 200px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    
}
#color{
    color: yellow;
    text-decoration: none;
}
.tituloimagem {
    text-align: center;
    margin-top: 20px;
}

.tituloimagem img {
    max-width: 100%;
    height: auto;
    width: 500px;
}

.principal{
    text-align: center;
    margin-top: 20px;
}
.principal img {
    max-width: 100%;
    height: auto;
    width: 900px;
}
.pacman {
    text-align: center;
    margin-top: 20px;
}

.pacman img {
    max-width: 100%;
    height: auto;
    width: 300px;
}
.dk {
    text-align: center;
    margin-top: 20px;
}

.dk img {
    max-width: 100%;
    height: auto;
    width: 500px;
}
.mario {
    text-align: center;
    margin-top: 20px;
}

.mario img {
    max-width: 100%;
    height: auto;
    width: 700px;
}
.nome {
    text-align: center;
    margin-top: 20px;
}

.nome img {
    max-width: 100%;
    height: auto;
    width: 500px;
}
html {
  scroll-behavior: smooth;
}
.conteudo-padrao {
 
  border-radius: 12px;
  padding: 20px;
  margin: 40px auto;
  max-width: 900px;
  text-align: left;
}
.conteudo-padrao img {
  
  display: block;
  margin: 15px auto;
  border-radius: 10px;
}


